{% extends 'partials/base.html' %}

{% block head %}

    <title>Staff Page</title>

{% endblock %}

{% block content %}
    
    {% include 'partials/topnav.html' %}
    <!--Table-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for i in w %}
                        <tr>
                            <th scope="row"><a class="btn btn-info btn-sm" href="{% url 'dashboard-staff-detail' i.id%}">View</a></th>
                            <td>{{ i.username }}</td>
                            <td>{{ i.email }}</td>
                            <td>{{ i.profile.phone }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!--End Table-->
{% endblock %}